{% extends 'base.html' %}


{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID поездки</th>
        <th scope="col">Телефон</th>
        <th scope="col">СМС код</th>
        <th scope="col">Модель автомобиля</th>
        <th scope="col">Номер автомобиля</th>
        <th scope="col">Уровень топлива</th>

      </tr>
    </thead>
    <tbody>
      {% if trip %}
          <tr>
            <th scope="row">{{ trip.id }}</th>
            <td>{{ trip.phone_number }}</td>
            <td>{{ trip.sms_code }}</td>
            <td>{{ trip.car }}</td>
            <td>{{ trip.car_plate }}</td>
            <td>{{ trip.fuel_level }}%</td>

          </tr>
      {% endif %}

    </tbody>
  </table>
{% endblock %}
